<div class="row mb-3">
  <div class="col-md-12">

    <form action="/create_workout" method="post">

      <div class="form-group">
        <label for="date">
          Date
        </label>

        <input type="date" id="date" name="date" class="form-control">
      </div>

      <div class="form-group">

        <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%=current_user.id%>">
      </div>

      <button class="btn btn-outline-success">
        + Create workout
      </button>
    </form>

  </div>
</div>

<h1>
  My workouts
</h1>


<% @workouts.each do |workout| %>

  <div class="card">
    <div class="card-header">
      <a href= "/workouts/<%=workout.id%>">Workout <%=workout.date%></a>
      <a href = "/delete_workout/<%=workout.id%>" class = "text-danger"><i class="far fa-trash-alt"></i></a>
    </div>

    <div class="card-body">
      <% Circuit.where(workout_id: workout.id).each do |circuit| %>

        <div>
          <% if circuit.reps.present? %>
            <%=Exercise.find(circuit.exercise_id).name + " " + circuit.sets.to_s + "x" + circuit.reps.to_s%>
          <% else %>
            <%=Exercise.find(circuit.exercise_id).name%>
          <% end %>
        </div>

      <% end %>

    </div>
  <% end %>
