<div class="row mb-3">
  <div class="col">

    <h1>
      Workout <%= @workout.date %> details
    </h1>


  </div>
</div>


<div class="row mb-3">
  <div class="col">
    <a href="https://workout-planner-final-project-juna121.c9users.io/<%= @workout.id %>/circuits/new"  class="btn btn-outline-success">
      + Create a new circuit
    </a>
  </div>
</div>



<table class="table">
  <thead>
    <tr>
      <th scope="col">Exercise</th>
      <th scope="col">Sets x Reps</th>
      <th scope="col">Weight</th>
      <th scope="col">Notes</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>

    <% Circuit.where(workout_id: @workout.id).each do |circuit| %>

      <tr>
        <td><%= Exercise.find(circuit.exercise_id).name %></td>
        <td>

          <% if circuit.sets.present? %>
            <%= circuit.sets.to_s + "x" + circuit.reps.to_s%>
          <% end %>


        </td>
        <td>
          <% if circuit.weight.present? %>
            <%= circuit.weight.to_s + " " + circuit.unit%>
          <% end %>
        </td>
        <td><%= circuit.note %></td>
        <td>
          
        <a href = "/circuits/<%= circuit.id %>/edit"><i class="far fa-edit"></i></i></a>
        <a href = "/delete_circuit/<%= circuit.id %>"><i class="far fa-times-circle"></i></a></td>

      </tr>

    <% end %>

  </tbody>
</table>



<div class="row">
  <div class="col">
    <a href="/workouts" class="btn btn-outline-secondary">
      Go back
    </a>
  </div>

  <div class="col justify-content-end"></div>
  <a href="/delete_workout/<%= @workout.id %>" class="btn btn-outline-danger">
    Delete workout
  </a>
</div>
