<div class="row mb-3">
  <div class="col">

    <h1>
      Workout <%= @workout.date %> details
    </h1>

  </div>
</div>


<div class="row mb-3">
  <div class="col">
    <a href="<%= @workout.id %>/circuits/new"  class="btn btn-outline-success">
      + Create a new circuit
    </a>
  </div>
</div>

<div class="row mb-3">
  <div class="col">
    <ul class="list-group list-group-flush">
      <% Circuit.where(workout_id: @workout.id).each do |circuit| %>

        <li class="list-group-item">
          <a href = "/circuits/<%= circuit.id %>">
            <%= Exercise.find(circuit.exercise_id).name + " " + circuit.sets.to_s + "x" + circuit.reps.to_s%>
          </a>
        </li>
      <% end %>

    </div>
  </div>


  <div class="row">
    <div class="col">
      <a href="/workouts" class="btn btn-outline-secondary">
        Go back
      </a>
    </div>

    <div class="col justify-content-end"></div>
    <a href="/delete_workout/<%= @workout.id %>" class="btn btn-outline-danger">
      Delete workout
    </a>
  </div>
</div>
</div>

</div>
</div>
